body {
background-image: url(http://ekladata.com/xs5uQ39fnfMNM4AWgpuLmJrE0xg/Back-filtered.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #fff;
color: black;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
letter-spacing: 2px;}

.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
height: auto;
width: auto;
border-radius: 50%;}

.profile-name {
text-align: center;
padding: 30px;
font-size: 30px}

.links {
text-align: center;
margin-top: 20px;
padding: 20px;
border: 1px solid black;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
background: #e8e9f3;
transition: background-color 0.5s}

a {
text-decoration: none;
color: black;
transition: color 1s;}

.bottom-text {
padding-right: 30%;
padding-left: 50%;
margin-top: 8%;}

a:hover {
color: #fff;
background: #00241b;}
