body {
background-image: url(imgs/back.png);
color: black;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
letter-spacing: 2px;}


.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
height: auto;
max-width: 100px;
border: 1px white;
border-radius: 50%;}

.profile-name {
text-align: center;
padding: 30px;
font-size: 30px}

.links {
text-align: center;
margin-top: 20px;
padding: 20px;
border: 1px solid black;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
background: #e8e9f3;
transition: background-color 0.5s}

a {
text-decoration: none;
color: black;
transition: color 1s;}

.bottom-text {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
height: auto;
max-width: 100px;}

a:hover {
color: #fff;
background: #00241b;}
